<sn-scroll-spy-section id="info" for="nav-item">
  <h1>This is a Code Wiki Template</h1>

  <p>
    This app can has the following features
  </p>

  <ul>
    <li>
      Scroll spy
    </li>
    <li>
      Scroll Easing
    </li>
    <li>
      URL updating per location
    </li>
    <li>
      Code formatting
    </li>
    <li>
      Code coping to clipboard
    </li>
  </ul>

  <p>
    For more info go to GitHub page <a href="https://github.com/peteplays/code-wiki-template" target="_blank">https://github.com/peteplays/code-wiki-template</a>
  </p>
</sn-scroll-spy-section>

<sn-scroll-spy-section id="getting-started" for="nav-item">
  <app-copy-and-code name="Install" code="npm install"></app-copy-and-code>
  <app-copy-and-code name="App Module" [code]="appModuleCode"></app-copy-and-code>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, at dolorum. Minima aperiam distinctio quod aut necessitatibus doloribus corporis expedita, quos aliquid dolor perferendis, dolore dignissimos, tenetur voluptatibus voluptate omnis!
  </p>
</sn-scroll-spy-section>

<app-topic-one id="topic-one"></app-topic-one>
<app-topic-two id="topic-two"></app-topic-two>
<app-topic-three id="topic-three"></app-topic-three>
