<sn-scroll-spy-section id="topic-three" for="nav-item">
  <h2>Topic Three</h2>

  <app-copy-and-code name="TopicThree Imports" [code]="topicThreeImports"></app-copy-and-code>
  <app-copy-and-code name="TopicThree SCSS" [code]="topicThreeScss"></app-copy-and-code>
</sn-scroll-spy-section>

<sn-scroll-spy-section id="three-sub-one" for="nav-item">
  <h3>Sub Topic Three Details</h3>

  <section>
    <button>Topic Three</button>
  </section>

  <app-copy-and-code name="Topic Three Code" [code]="topicThreeCode"></app-copy-and-code>
  <app-copy-and-code name="Topic Three HTML" [code]="topicThreeHtml"></app-copy-and-code>
</sn-scroll-spy-section>

<sn-scroll-spy-section id="three-sub-two" for="nav-item">
  <h3>Sub Topic Two Details</h3>

  <section>
    <button>Topic Three</button>
  </section>

  <app-copy-and-code name="Topic Three Code" [code]="topicThreeCode"></app-copy-and-code>
  <app-copy-and-code name="Topic Three HTML" [code]="topicThreeHtml"></app-copy-and-code>
</sn-scroll-spy-section>
