.side-nav {
  background-color: #f7faff;
  border-right: 1px solid darken(#f7faff, 2%);
  position: relative;
}

.content {
  margin: 0 auto 450px;
  padding: 0 15px;
  max-width: 780px;
  width: 95%;
}
