<sn-scroll-spy-section id="topic-two" for="nav-item">
  <h2>Topic Two</h2>

  <app-copy-and-code name="Topic Two Imports" [code]="topicTwoImports"></app-copy-and-code>
  <app-copy-and-code name="Topic Two SCSS" [code]="topicTwoScss"></app-copy-and-code>
</sn-scroll-spy-section>

<sn-scroll-spy-section id="two-sub-one" for="nav-item">
  <h3>Sub Topic Two Details</h3>

  <section>
    <button>Topic Two</button>
  </section>

  <app-copy-and-code name="Topic Two Code" [code]="topicTwoCode"></app-copy-and-code>
  <app-copy-and-code name="Topic Two HTML" [code]="topicTwoHtml"></app-copy-and-code>
</sn-scroll-spy-section>

<sn-scroll-spy-section id="two-sub-two" for="nav-item">
  <h3>Sub Topic Two Details</h3>

  <section>
    <button>Topic Two</button>
  </section>

  <app-copy-and-code name="Topic Two Code" [code]="topicTwoCode"></app-copy-and-code>
  <app-copy-and-code name="Topic Two HTML" [code]="topicTwoHtml"></app-copy-and-code>
</sn-scroll-spy-section>
