<sn-scroll-spy-section id="topic-one" for="nav-item">
  <h2>Topic One</h2>

  <app-copy-and-code name="Topic One Imports" [code]="topicOneImports"></app-copy-and-code>
  <app-copy-and-code name="Topic One SCSS" [code]="topicOneScss"></app-copy-and-code>
</sn-scroll-spy-section>

<sn-scroll-spy-section id="one-sub-one" for="nav-item">
  <h3>Sub Topic One Details</h3>

  <section>
    <button>Topic One</button>
  </section>

  <app-copy-and-code name="Topic One Code" [code]="topicOneCode"></app-copy-and-code>
  <app-copy-and-code name="Topic One HTML" [code]="topicOneHtml"></app-copy-and-code>
</sn-scroll-spy-section>

<sn-scroll-spy-section id="one-sub-two" for="nav-item">
  <h3>Sub Topic Two Details</h3>

  <section>
    <button>Topic One</button>
  </section>

  <app-copy-and-code name="Topic One Code" [code]="topicOneCode"></app-copy-and-code>
  <app-copy-and-code name="Topic One HTML" [code]="topicOneHtml"></app-copy-and-code>
</sn-scroll-spy-section>
