@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700');
@import '~highlight.js/styles/solarized-light.css';
@import '_variables.scss';

body,
html {
  font-family: 'Sarabun', sans-serif;
  color: $grey-darkest;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  display: grid;
  grid-template-areas: 'side-nav''content';
  grid-template-columns: 25% auto;
  height: 100%;
}

svg {
  overflow: initial;
}

.hljs {
  border-radius: 4px;
  border: 1px solid darken($yellow-light, 10%);
}

.btn {
  padding: 7px 10px;
  display: block;
  border-radius: 4px;
  transition: 0.5s ease;

  &:hover {
    cursor: pointer;
  }
}

.btn-blue {
  @extend .btn;
  color: #ffffff;
  background-color: $blue;
  border: 1px solid darken($blue, 10%);

  &:hover {
    background-color: lighten($blue, 10%);
    border: 1px solid lighten($blue, 10%);
  }
}

.tag {
  background-color: $yellow-light;
  color: #268bd2;
  padding: 0 5px 2px;
  border-radius: 4px;
  border: 1px solid darken($yellow-light, 10%);
}

h4 {
  margin-bottom: 0;
}

a {
  transition: 0.3s ease;

  &:hover {
    color: $blue !important;
  }

  &.active {
    color: $blue !important;
    font-weight: bold;
    margin-left: 5px;

    &::before {
      content: '»  ';
    }
  }
}

